/** @format */

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  height: 100%;
  border: 1px solid grey;
  margin: 50px 30px;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.to-do-container {
  display: flex;
  flex-direction: column;
}

.to-do-container ul li {
  width: 200px;
  justify-content: start;
  overflow-wrap: break-word;
  list-style-type: "🟩";
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  list-style-type: "✅" !important;
}

.todos {
  display: flex;
}

.deleteItem {
  cursor: pointer;
}

.AddItems {
  display: flex;
  flex-direction: column;
}

.AddItems {
  width: 300px;
}

.AddItems input {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}

.AddItems button {
  cursor: pointer;
  margin: 10px 0;
  padding: 5px;
  border: none;
  background-color: lightblue;
  font-weight: bold;
  border-radius: 5px;
}
& .AddItems button:hover {
  background-color: rgb(31, 126, 158);
  color: white;
}
